body {
margin: 0;
height: 100vh;
}









*{
    margin: 0;
    padding: 0;
    
    
    }





.logotipo{
    background-color: #000000;
    display: flex;
   
}



.searchbox{
padding-left: 400px;
padding-top: 3%;



}

.searchbox, input {
    font-size: 1.5em;
}


  









.bemvindo{

 width: 8%;
 height: 3%;
 padding-top: 60px;
padding-left:20px;

}


.imagemdalogo{

    width: 6%;
    height: 3%;
  

}





.cadastro{

    width: 20%;
    height: 10%;
    padding-top: 60px;
    padding-left: 600px;
    padding-right: 50px;
}

